<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347333898035-j6pejn9eku0662s6ieokbmo9e91gdjnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347333898035-j6pejn9eku0662s6ieokbmo9e91gdjnq</string>
	<key>API_KEY</key>
	<string>AIzaSyApxTq_JEF1mM7gjsUbeZXMub4yXJfpLvY</string>
	<key>GCM_SENDER_ID</key>
	<string>347333898035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosignbook.study</string>
	<key>PROJECT_ID</key>
	<string>mvvm-bindings-pattern</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvm-bindings-pattern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347333898035:ios:f80afcd6ff9b396c061846</string>
</dict>
</plist>