<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288362447608-73vk18r9vce98ki7no4j0tecmdunov9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288362447608-73vk18r9vce98ki7no4j0tecmdunov9o</string>
	<key>API_KEY</key>
	<string>AIzaSyDpVpxLeHOdXGL-H1rlVMtcHRxBNMcGW9o</string>
	<key>GCM_SENDER_ID</key>
	<string>288362447608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kr.kosignbookFcm.FcmSample</string>
	<key>PROJECT_ID</key>
	<string>fcmsample-8f728</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmsample-8f728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288362447608:ios:2c8f392be41765f776b10d</string>
</dict>
</plist>